<form #myForm="ngForm"  (ngSubmit)="onSubmit(myForm)">
    <div class="form-container">

    <div class="form-column">
        <div class="form-group">
            <label for="stockName">Stock Name</label>
            <input type="text" id="stockName" class="form-control" name="stockName" [(ngModel)]="stock.stockName"
            #stockName="ngModel"  required>
            <div *ngIf="stockName.invalid && (stockName.dirty || stockName.touched)" class="alert alert-danger">
                <div *ngIf="stockName.errors?.['required']">Stock name is required.</div>
                
            </div>
        </div>

        <div class="form-group">
            <label for="listingPrice">Listing Price</label>
            <input type="text" id="listingPrice" class="form-control" name="listingPrice"
                [(ngModel)]="stock.listingPrice" required>

        </div>
    </div>

    <div class="form-column">
        <div class="form-group">
            <label for="pricePerUnit">Price Per Unit</label>
            <input type="text" id="pricePerUnit" class="form-control" name="pricePerUnit"
                [(ngModel)]="stock.pricePerUnit" required>

        </div>

        <!-- Add other form controls as needed -->
    </div>
    <div class="form-column">
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" id="quantity" class="form-control" name="quantity" [(ngModel)]="stock.quantity" required>

        </div>

        <!-- Add other form controls as needed -->
    </div>
    <div class="form-column">
        <div class="form-group">
            <label for="type">Type</label>
            <select id="type" class="form-control" name="type" [(ngModel)]="stock.type" required>
                <option value="" disabled selected>Select Type</option>
                <option value="BUY">BUY</option>
                <option value="SELL">SELL</option>
            </select>
           
        </div>
    </div>

</div>
    <div class="form-group pos">
        <button type="submit" class="btn bluebtn">Update</button>
    </div>
</form>