
<div class="white-box">
    <div class="titles" data-aos="fade-up" data-aos-duration="1000">All stocks</div> 
    <div class="tabletop fcs">
      <div><button class="btn bluebtn"  data-backdrop="static" data-keyboard="false" (click)="redirectToAddStock()">+ Add stock</button></div>
      <!-- <div><button class="btn bluebtn"  data-backdrop="static" data-keyboard="false" (click)="createorder()">+ Create order</button></div> -->

      
      
 
      
      
      
    </div>
    <div class="tablesec">
      <table class="table ">
        <thead> 
          <tr>  
            
           
            <!-- <th width="50">Image</th> -->
            
            <th>Stock Name</th>
            <th>Listing Price</th> 
            <th>Price Per Unit</th>
            <th>Quantity</th>
            <th>Date</th>
            <th>Type</th>
            <th width="100">Actions</th>
            <th >Create order</th>
          </tr>
        </thead>
        <tbody>
            @for (s of tradeDetails; track $index) {
         <tr > 
          
           
            
            <td>{{ s.stockName }}</td>
            <td>{{ s.listingPrice }}</td>
            <td>{{ s.pricePerUnit }}</td>
            <td>{{ s.quantity }}</td>
            <td>{{ s.tradeDateTime }}</td>
            <td>{{ s.type }}</td>
            <td>
              <button class="btn editbtn"  (click)="openModal(s.id)" data-toggle="modal" data-target="#modalcompanystructure" data-backdrop="static" data-keyboard="false" data-placement="top" title="Edit"><i class="fa fa-pencil"></i></button> 
               <!-- <button class="btn viewbtn"  data-toggle="modal" data-target="#modalcompanystructure" data-backdrop="static" data-keyboard="false" data-placement="top" title="View"><i class="fa fa-eye"></i></button>   -->
               <button class="btn deletebtn"  (click)="deletestock(s.id)" data-toggle="modal" data-target="#modalcompanystructure" data-backdrop="static" data-keyboard="false" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button> 
            </td>  
            <td>
              <button class="btn editbtn" (click)="createOrder(s)" data-toggle="modal" data-target="#modalcompanystructure" data-backdrop="static" data-keyboard="false" data-placement="top" title="Edit">
                  <i class="fa fa-plus"></i>
              </button>
          </td>
          
           </tr> 
            }
        </tbody>
      </table> 
    
    </div>

</div>  
<div>
  <mat-paginator #paginator class="demo-paginator" 
  (page)="handlePageEvent($event)"  [length]="length"
        [pageSize]="pageSize" [disabled]="disabled" 
        [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
        [hidePageSize]="hidePageSize"
        [pageIndex]="pageIndex" aria-label="Select Page">
  </mat-paginator> 
</div>

