
<div class="white-box">
    <div class="titles" data-aos="fade-up" data-aos-duration="1000">Ordered stock</div> 
    <div class="tabletop fcs">
        <div>
            <button class="btn bluebtn" (click)="redirectToAllStock()">+ Buy stock</button>
          </div>
          
      <!-- <div><button class="btn bluebtn"  data-backdrop="static" data-keyboard="false" (click)="createorder()">+ Create order</button></div> -->

      
      
     
      
      
      
    </div>
    <div class="tablesec">
      <table class="table ">
        <thead> 
          <tr>  
            
           
            <!-- <th width="50">Image</th> -->
            
            <th>Stock Name</th>
            <th>Listing Price</th> 
            <th>Price Per Unit</th>
            <th>Quantity</th>
            <th>Date</th>
            <th>Type</th>
            <th>Status</th>
           
          </tr>
        </thead>
        <tbody>
            @for (s of orders; track $index) {
         <tr > 
          
           
            
            <td>{{ s.stockName }}</td>
            <td>{{ s.listingPrice }}</td>
            <td>{{ s.pricePerUnit }}</td>
            <td>{{ s.quantity }}</td>
            <td>{{ s.tradeDateTime }}</td>
            <td>{{ s.type }}</td>
            <td>{{ s.status }}</td>
            
          
           </tr> 
            }
        </tbody>
      </table> 
    
    </div>

</div>  
<div>

</div>

